body{
    background-image: url(backGroundImage.png);
}

#calculate{
    background-color: rgba(0, 255, 0, 0.9);
    border-color: black;
    box-shadow:  0 5px 3px gray;
}

#calculate:hover{
    background-color: black;
    color: aliceblue;
}

.title{
    color: rgba(0, 0, 128, 0.9);
    text-align: center;
    margin-top: auto;
    font-size: large;

}

.title input {
    font-size: x-large;
    height: 37px;
    width: 280px;
    text-align: right;
    border-radius: 10px;
    color: black;
    background-color: rgb(136, 194, 250);
    border-color: rgb(5, 72, 139);
    box-shadow:  0 2px 2px  rgba(193, 13, 166, 0.92);
}

.title input:hover{
    background-color: white;
    box-shadow: 0 4px 8px #f0e;
    color: black;
}

.title table{
    margin: auto;
    border-spacing: 7px;
    padding: 17px;
}



.title button{
    font-size: larger;
    font-style: italic;
    font-weight: 600;
    border-color: rgb(6, 74, 133);
    border-radius: 9px;
    background-color: rgba(0, 0, 255, 0.4);
    width: 64px;
    height: 42px;
    box-shadow:  0 5px 6px  gray;

}

.title button:hover{
    background-color: whitesmoke;
    box-shadow: black;
}

.inner{
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid rgba(117, 35, 135, 0.987);
    background-color: rgb(178, 190, 181);
    box-shadow:  0 6px 90px  black;
}
